$theme-colors: ("primary": #4b866c)

//$body-bg: #e8ebe7;
$body-bg: blue

@import _customvariables.sass

$bg-color: rgb(0, 255, 255)
$ft-color: rgba(233, 233, 233, 0.678)

body
  background: $bg-color

  .jumbotron
    background-image: url("../images/jumbo_bkg.jpg")
    background-size: cover
    background-repeat: no-repeat
    color: #000000

  .footer
    background: $ft-color
    width: 100%
    text-align: center

  .btn.sharp
    border-radius: 0

  .fa
    font-size: 44px
    background-color: gold

  .cover
    padding: 0 1.5rem

  .cover .btn-lg
    padding: .75rem 1.25rem
    font-weight: 700
